.staples {
  display: block;
  border: 1px solid black;
  padding-left: 5%;
  align-items: center;
  height: 80vh;
}

.message {
  font-size: 35px;
}

.mover-singular-stock-red {
  border: 1px solid black;
  display: flex;
  margin: 1%;
  padding: 1%;
  width: 95%;
  height: auto;

  justify-content: space-between;
  align-items: center;

  background-color: #F2A8A8;
}

.mover-singular-stock-green {
  border: 1px solid black;
  display: flex;
  margin: 1%;
  padding: 1%;
  width: 95%;
  height: auto;

  justify-content: space-between;
  align-items: center;

  background-color: #88D179;
}

.price-difference {
  border: 1px black solid;
  border-radius: 30%;

  text-align: left;
  /* align-items: left; */

  /* display: flex;
  align-items: center;

  padding: 20%;
  padding-right: 100%; */
  width: auto;
  height: auto;

  background-color: white;
}

.ticker-name {
  text-align: left;
  font-size: 40px;
  border: 1px black solid;
  margin: 0;
}