.portfolio-wrapper {
  margin: 1%;
  width: 95%;
}

.portfolio-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.portfolio-funds {
  margin: 1%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30%;

  border: 1px black solid;
  min-height: 50vh;
}

.portfolio-funds-title {
  background-color: #007bff;
  min-height: 70%;
  min-width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2%;
  margin-bottom: 2vh;

  text-align: center;

  border-radius: 25%;
}

.portfolio-funds-title > h1 {
  font-size: 20px;
  font-weight: bold;
}

.portfolio-funds-title > h2 {
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.form {
  height: 20vh;
}

.show-add-funds > button {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%; /* Full-width button */
  margin-top: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.show-add-funds > button:hover {
  background-color: #0056b3; /* Darker shade on hover */
  transform: translateY(-2px); /* Lift the button on hover */
  color: white;
}

.hide-message {
  align-items: center;
  justify-content: center;
  display: flex;

  padding-top: 5px;
}


.forgot-password > button {
  text-decoration: underline;
}

.portfolio-stocks-list {
  width: 60%;
  margin: 2% 4% 2% 2%;

  height: 75vh;
  overflow-y: auto;

  border: 1px solid black;
}

.singular-portfolio-stock {
  margin: 2%;
  padding: 2%;
  border: 1px black solid;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 20vh;
}

.buy-or-sell-buttons-section {
  border: 1px black solid;
  border-right-color: transparent;



  height: 20vh;
  width: 20%;
}

.buy-or-sell-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}