.navbar-links {
  padding: 3%;

  gap: 15px;

  width: 200%;
  display: block;
}

.navbar-links a, .navbar-links button {
  padding: 5px 10px;
  margin: 0;
  margin-right: 20px;
  font-size: 20px;

  transition: font-size 0.2s ease;
}
.navbar-links a:hover, .navbar-links button:hover {
  font-size: 30px;
}

.header {
  background-color: #A6E999;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
}

.user-message {
  text-align: right;
  padding-right: 1%;
}