.navbar-links {
  padding: 3%;

  gap: 15px;

  width: 200%;
  display: block;
}

.navbar-links a, .navbar-links button {
  padding: 5px 10px;
  margin: 0;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  transition: font-size 0.2s ease;
}
.navbar-links a:hover, .navbar-links button:hover {
  color: white;
}

.header {
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 20px;

  height: 10vh;
}

.user-message {
  text-align: right;
  padding-right: 1%;
  display: flex;
  flex-direction: row;
}

.profile-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.profile-icon > strong {
  padding-right: 20%;
  font-size: 20px;
}